<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .sidebar {
            height: 100vh;

        }

        .table-responsive {
            overflow-x: auto;
        }

        .nav-link.active {
            background-color: #0095ff;
            color: black !important;
        }

        .nav-link {
            color: #0033ff !important;
        }

        .form-container label {
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand text-white"></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
            <span class="navbar-text me-3 text-light" th:text="${currentUser.getEmail() + ' wich roles:'}">EMAIL</span>
            <span class="navbar-text me-2 text-light" th:each="role : ${currentUser.getRoles()}"
                  th:text="${#strings.substring(role.getName(), 5)}"></span>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="btn btn-dark" href="/logout">Logout</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link rounded active">User</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">User panel</h1>
            </div>

            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="usersTable">
                    <div class="container-fluid px-0 bg-light border t">
                        <h5 class="card-header">User</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped mt-3">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${currentUser.id}"></td>
                                <td th:text="${currentUser.name}"></td>
                                <td th:text="${currentUser.surname}"></td>
                                <td th:text="${currentUser.age}"></td>
                                <td th:text="${currentUser.email}"></td>
                                <td th:text="${currentUser.roleToString()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
